# .env.example
OKX_API_KEY=3e305eda-ef1f-4d49-b664-dba731ba3409
OKX_API_SECRET=F9A5400E1D1F5126979FE04FBF79F148
OKX_TESTNET=true
POSTGRES_PASSWORD=Be56565656!
POSTGRES_DSN="postgresql://qiantbot:belliwu56@localhost:5432/market"